:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Poppins", sans-serif !important;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}

h2 {
  font-size: 48px !important;
}

h3 {
  font-size: 24px !important;
  line-height: 36px !important;
  color: #272142;
  margin-top: 30px !important;
  margin-bottom: 49px !important;
}

.start-screen {
  padding: 160px 0;
  background-color: var(--secondary-color);
  text-align: center;
}

.start-screen h1 {
  font-size: 96px !important;
  line-height: 128px !important;
}

.navbar {
  margin: 0 100px;
}

.logo-nav {
  width: 150px;
  height: auto;
}

.hi-i-am {
  font-weight: bold;
  font-size: 36px;
}

.contact-link {
  display: block;
  text-align: center;
  /* margin: 20px auto; */
  width: 200px;
  height: auto;
  border-radius: 4px;
  text-decoration: none;
  background: var(--primary-color);
  color: white;
  font-size: 18px;
  padding: 18px 0;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.container h2 {
  font-size: 64px !important;
}

.container p {
  font-size: 16px !important;
}

.app-info {
  padding: 100px 60px !important;
}

.btn-purple {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  text-decoration: none;
}
.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .app-info {
    padding: 50px 30px !important;
    margin-top: 20px;
  }
  .container h2 {
    font-size: 44px !important;
  }
  .container p {
    font-size: 14px !important;
  }
}

@media (max-width: 768px) {
  h2 {
    text-align: center !important;
  }
  .start-screen h1 {
    font-size: 54px !important;
  }
  .app-link {
    display: block;
    margin: 0 80px;
    text-align: center;
  }
  .app-info {
    text-align: center;
    padding: 20px !important;
  }
}

/* // About me */

.aboutme-box {
  padding: 150px 100px;
}
.aboutme-box h1 {
  font-size: 64px;
}
